@font-face {
  font-family: "iconfont"; /* Project id 3902839 */
  src: url('~@/static/fonts/iconfont.woff2?t=1676689496909') format('woff2'),
       url('~@/static/fonts/iconfont.woff?t=1676689496909') format('woff'),
       url('~@/static/fonts/iconfont.ttf?t=1676689496909') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-use_list:before {
  content: "\e650";
}

.icon-use_find:before {
  content: "\e64e";
}

.icon-use_my:before {
  content: "\e604";
}

.icon-use_conf:before {
  content: "\e605";
}

.icon-use_add:before {
  content: "\e62a";
}

.icon-use_book:before {
  content: "\e60d";
}

.icon-use_static:before {
  content: "\e642";
}

.icon-use_back:before {
  content: "\e715";
}

.icon-food1:before {
  content: "\e600";
}

.icon-food2:before {
  content: "\e601";
}

.icon-jiangli2:before {
  content: "\e6d1";
}

.icon-xiangji1:before {
  content: "\e77f";
}

.icon-food3:before {
  content: "\e644";
}

.icon-jingdian:before {
  content: "\e645";
}

.icon-zhusu:before {
  content: "\e646";
}

.icon-duanxin:before {
  content: "\e647";
}

.icon-xinxi:before {
  content: "\e649";
}

.icon-canting:before {
  content: "\e64f";
}

.icon-daohang:before {
  content: "\e651";
}

.icon-dizhi:before {
  content: "\e652";
}

.icon-dianping:before {
  content: "\e653";
}

.icon-huobiduihuan:before {
  content: "\e65b";
}

.icon-jianshen:before {
  content: "\e65d";
}

.icon-kongdiao:before {
  content: "\e65f";
}

.icon-tingchechang:before {
  content: "\e66b";
}

.icon-wuxianwangluo:before {
  content: "\e66c";
}

.icon-xingcheng:before {
  content: "\e674";
}

.icon-youji:before {
  content: "\e675";
}

.icon-xiyiji:before {
  content: "\e67d";
}

.icon-gouwu:before {
  content: "\e680";
}

.icon-haitan:before {
  content: "\e686";
}

.icon-huwai:before {
  content: "\e687";
}

.icon-jichengche:before {
  content: "\e688";
}

.icon-qinzi:before {
  content: "\e68c";
}

.icon-renwen:before {
  content: "\e68d";
}

.icon-shanchu:before {
  content: "\e68e";
}

.icon-shengqian:before {
  content: "\e690";
}

.icon-shouji:before {
  content: "\e692";
}

.icon-xitongcaidan:before {
  content: "\e696";
}

.icon-youxian:before {
  content: "\e698";
}

.icon-yule:before {
  content: "\e699";
}

.icon-ziranfengguang:before {
  content: "\e69c";
}

.icon-zixingche:before {
  content: "\e69d";
}

.icon-dixiaofei:before {
  content: "\e6dd";
}

.icon-gaoxiaofei:before {
  content: "\e6de";
}

.icon-shehuade:before {
  content: "\e6e3";
}

.icon-jinnang:before {
  content: "\e6e4";
}

.icon-wancan:before {
  content: "\e6e7";
}

.icon-wucan:before {
  content: "\e6e8";
}

.icon-zaocan:before {
  content: "\e6e9";
}

.icon-juzhuanchang:before {
  content: "\e626";
}

.icon-listyule:before {
  content: "\e70c";
}

.icon-listbashi:before {
  content: "\e70d";
}

.icon-listfeiji:before {
  content: "\e70e";
}

.icon-listgouwu:before {
  content: "\e70f";
}

.icon-listhuoche:before {
  content: "\e710";
}

.icon-listjingdian:before {
  content: "\e711";
}

.icon-listmatou:before {
  content: "\e712";
}

.icon-listzhusu:before {
  content: "\e713";
}

.icon-listcanyin:before {
  content: "\e714";
}

.icon-icophone:before {
  content: "\e634";
}

.icon-iconfontmeizhuangrihua:before {
  content: "\e63b";
}

.icon-iconfontwujingongju:before {
  content: "\e641";
}

.icon-iconfontxiebaopeishi:before {
  content: "\e648";
}

.icon-iconfontyundonghuwai:before {
  content: "\e64a";
}

.icon-iconfontgongyichongwu:before {
  content: "\e64b";
}

.icon-iconfontfuzhuangneiyi:before {
  content: "\e64c";
}

.icon-shouru:before {
  content: "\e613";
}

.icon-qingjieji:before {
  content: "\e617";
}

.icon-shiwu-:before {
  content: "\ebcd";
}

.icon-shiwu-1:before {
  content: "\ebd3";
}

.icon-shiwu-2:before {
  content: "\ebed";
}

.icon-shouru1:before {
  content: "\e64d";
}

.icon-qingjietaozhuang:before {
  content: "\e603";
}

.icon-hongbao:before {
  content: "\e8b0";
}

.icon-shiwu1:before {
  content: "\e90d";
}

.icon-licai-cunqianguan:before {
  content: "\e60f";
}

